.product-page{
    max-width: 1024px;
    padding: 0 15px 0 15px;
    margin: 96px auto;
}
.product-page .title {
    opacity: 0;
    transform: translateX(-20px);
    color: #000;
    font-size: 32px;
    margin-bottom: 28px;
}
.product-page .quote {
    border-left: 1px solid #aaa;
    opacity: 0;
    transform: translateX(-20px);
    color: #888;
    font-size: 14px;
    margin: 0 1px 16px;
    padding-left: 16px;
    position: relative;
}
.product-page .quote p{
margin-top: 0.3em;
margin-bottom: 0.3em;
}
.product-page .quote p:first-child{
margin-top: 0;
}
.product-page .quote p:last-child{
margin-bottom: 0;
}

.product-page .author{
    color: #888;
    padding-left: 16px;
    font-size: 12px;
}
.product-page .more{
    color: #888;
    padding-left: 16px;
    font-size: 1rem;
    text-decoration: none;
    float:right;
}
/*
.product-page .title::after{
    content: "";
    display: block;
    height: 2px;
    width: 70%;
    margin-top: 8px;
    background: #d9d9d9;
}*/
.product-page .content{
    color: #000;
    line-height: 1.5;
    opacity: 0;
    transform: translateX(-20px);
}